
/*==========  Desktop First  ==========*/

@media only screen and (max-width : 1200px)
	.header-contacts
		font-size: 13px
	.main-footer-colum
		text-align: center


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.logo
		img
			width: 120px
	.mm-navbar
		.mm-title
			img
				width: 120px
	.s-collback
		.collback
			padding: 10% 0 10% 10%
	.header-text
		p
			margin-top: 20px
			font-size: 13px
		.welcome
			h1
				font-size: 46px
	.main-footer-colum
		text-align: center

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.logo
		img
			width: 100px
	.mm-navbar
		.mm-title
			img
				width: 100px
	.welcome
		display: inline-block
		p
			span
				font-size: 12px
	.header-contacts
		padding: 10px
		text-align: left
	.s-collback
		background-size: cover
		&::before
			width: 100%
			opacity: .8
		.collback
			padding: 15% 5%
	.quots
		display: none
	.s-partners
		.partners
			.owl-nav
				>div
					&.owl-prev
						left: -60px
					&.owl-next
						right: -60px
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.header-text
		.welcome
			h1
				font-size: 30px
	.welcome
		display: inline-block
		p
			span
				font-size: 12px
	.s-partners
		.partners
			.owl-nav
				>div
					&.owl-prev
						left: -30px
					&.owl-next
						right: -30px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

